
body {
    padding: .5rem;
    min-width: 25rem;
}

h2 {
    margin-top: 0;
}
h3 {
    margin-top: 1.6rem;
}

h4 {
    margin-top: 0;
    margin-bottom: .4rem;
}

.global-enabled-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.input-param-wrapper {
    display: flex;
    align-items: center;
    margin: .3rem 0;
}

.page-matcher {
    width: 100%;
}

.match-group {
    position: relative;
    background-color: #e0e0e0;
    padding: 1rem;
    margin: .8rem 0;
    border-left: solid .2rem #0575fb;
}

.match-regex-input {
    width: 100%;
    margin-bottom: 1rem;
}

.delete-button {
    border: none;
    background-color: rgba(0,0,0,0);
    color: red;
    cursor: pointer;
    font-size: 20px;
    padding: 0;
    outline: none;
}

.delete-button:hover {
    color: darkred;
}


.match-group > .delete-button {
    position: absolute;
    right: 10px;
    top: 7px;
}

.match-group > .add-button {
    margin-top: 1rem;
}

.input-param-wrapper input[type="text"] {
    width: 100%;
}

.input-param-wrapper > .delete-button {
    font-size: 15px;
}

input[type="text"] {
    margin-right: .2rem;
    border: solid 1px lightgrey;
    outline: none;
    padding: 0.25rem;
}

input[type="checkbox"]:not(:checked) + input, 
input[type="checkbox"]:not(:checked) + input + input,
input[type="checkbox"]:not(:checked) + input + input + input {
    color: grey;
    opacity: .6;
}

#add {
    margin-top: .6rem;
    border:none;
    padding: .2rem .6rem;

    background-color: lightgrey;
    cursor: pointer;
}

#add:hover {
    background-color: grey;
}