body {
    padding: .5rem;
    min-width: 20rem;
}

h2 {
    margin-top: 0;
}

h3 {
    margin-top: 1.6rem;
}

blockquote {
    border-left: solid 3px lightblue;
    padding: .5rem .7rem;
    margin: 0;
}

a.help-button {
    border-radius: 100%;
    background-color: grey;
    width: 15px;
    height: 15px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    color: #FFF;
    font-weight: initial;
    cursor: pointer;
    text-decoration: none;
}
a.help-button:hover {
    background-color: #3e3e3e;
}

.disabled {
    opacity: .3;
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.inputs-container {
    margin-bottom: .9rem;
}

.inputs-row {
    display: flex;
    align-items: center;
    margin: .3rem 0;
}

.inputs-row input[type="text"] {
    width: 100%;
}

.delete-button {
    border: none;
    background-color: rgba(0,0,0,0);
    color: red;
    cursor: pointer;
    font-size: 20px;
    padding: 0;
    outline: none;
    font-size: 15px;
}

.delete-button:hover {
    color: darkred;
}

.button {
    /* margin-top: .6rem; */
    border:none;
    padding: .2rem .6rem;

    background-color: lightgrey;
    cursor: pointer;
}

.button:hover {
    background-color: grey;
}


input[type="text"] {
    margin-right: .2rem;
    border: solid 1px lightgrey;
    outline: none;
    padding: 0.25rem;
    font-family: monospace;
}

input[type="checkbox"]:not(:checked) + input, 
input[type="checkbox"]:not(:checked) + input + input,
input[type="checkbox"]:not(:checked) + input + input + input {
    color: grey;
    opacity: .6;
}
